body{
	  background-color: #042b5f;
}

.logo{
	width: 120px;
	display: inline-block;
}

.logo img{
	width:100%;
}

.movieCard{
	height: 550px;
	position:relative;
	
}

.movieCard img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.ratingSection{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:rgb(3,37,65);
	padding:1rem;
	color:#fff;
	
	
}

.overviewSection{
    position: absolute;
	top:100%;
	overflow:hidden;
	background-color:#fff;
	padding:20px;
	height:70%;
	opacity:0;
	transition: all .6s ease-in-out;
	cursor:pointer;
}

.movieCard:hover .overviewSection,
.movieCard:focus .overviewSection,
.movieCard:active .overviewSection{
	top:30%;
	opacity:1;
	
}
